Outworldzfiles/Opensim/.git
Outworldzfiles/Freeswitch
Outworldzfiles/Autobackup
Outworldzfiles/Apache/htdocs/Stats/Maps
Outworldzfiles/Apache/htdocs/Audio/Alexandria
/DreamGridUpdater.exe
en
ca
cs
de
el
rn
es-MX
eu
fi
fr
ga
he
is
nl-NL
no
pl
pt
ru
sv
zh-cn
zh-tw
.build
baretail.udm
*.pid
**/WifiPages-Custom
fw.bat
Outworldzfiles/Photo.png
UDProxy
/Outworldzfiles/Opensim/WifiPages/
/Outworldzfiles/Opensim/bin/WifiPages/
/Outworldzfiles/Opensim/bin/ScriptEngines/YEngine
/OutworldzFiles/mysql/data/*.err
LocalUserStatistics.db
Diagnostics.log
OpenSimConsoleHistory.txt
RobustConsoleHistory.txt
OpenSim.log
Outworldz.log
Http.log
XYSettings.ini
OutworldzFiles/opensim/bin/assetcache/*
OutworldzFiles/opensim/bin/maptiles/*
OutworldzFiles/opensim/bin/DataSnapshot/*
OutworldzFiles/opensim/bin/ScriptEngines/*
OutworldzFiles/opensim/bin/j2kDecodeCache/*
OutworldzFiles/opensim/bin/fsassets/*
OutworldzFiles/opensim/bin/MeshCache/*
OutworldzFiles/opensim/bin/bakes/*
Outworldzfiles/opensim/bin/Robust.HG.ini.bak
Outworldzfiles/Settings.ini
Outworldzfiles/Settings.bak
Outworldzfiles/Mysql/Data
Outworldzfiles/Apache/htdocs/Jopensim
Outworldzfiles/Apache/htdocs/TTS/Audio

Installer_Src/Setup Dreamworld/bin/*
**/teleports.htm

Thumbs.db
.vs/*
*.suo
*.autosave
*.cache
*.user
*.log
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.orig
.DS_Store
*.userprefs
**.csproj
~*
*~

**/obj/*
**/Release/*
**/Debug/*
**/addin-db-002/*
**/bin/Regions/
**/config.php
/OutworldzFiles/PHP7/databaseinfo.php


# Ignore .user and .suo files as these are user preference specific
# http://stackoverflow.com/questions/72298/should-i-add-the-visual-studio-suo-and-user-files-to-source-control

*.suo
*.pdb
*.build
*.obj
*.csproj
*.csproj

.vs/

.project
.settings
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build

*.VisualState.xml
OutworldzFiles/opensim/bin/Debug/*.dll
OutworldzFiles/opensim/bin/*.dll.mdb
OutworldzFiles/opensim/bin/*.db
OutworldzFiles/opensim/bin/OpenSim.vshost.exe.config
OutworldzFiles/opensim/bin/*.maddin
OutworldzFiles/opensim/bin/j2kDecodeCache
OutworldzFiles/opensim/bin/Physics*
OutworldzFiles/opensim/bin/Regions/*
OutworldzFiles/opensim/bin/UserAssets
OutworldzFiles/opensim/bin/estate_settings.xml
OutworldzFiles/opensim/bin/config-include/CenomeCache.ini
OutworldzFiles/opensim/bin/config-include/FlotsamCache.ini
OutworldzFiles/opensim/bin/config-include/GridCommon.ini
OutworldzFiles/opensim/bin/config-include/StandaloneCommon.ini
OutworldzFiles/opensim/bin/OpenSim.Grid.AssetInventoryServer.log
OutworldzFiles/opensim/bin/OpenSim.Grid.AssetServer.log
OutworldzFiles/opensim/bin/OpenSim.Grid.GridServer.log
OutworldzFiles/opensim/bin/OpenSim.Grid.InventoryServer.log
OutworldzFiles/opensim/bin/OpenSim.Grid.MessagingServer.log
OutworldzFiles/opensim/bin/OpenSim.Grid.UserServer.log
OutworldzFiles/opensim/bin/OpenSim.log

OutworldzFiles/opensim/bin/crashes/
OutworldzFiles/opensim/Examples/*.dll
OutworldzFiles/opensim/OpenSim.build
OutworldzFiles/opensim/OpenSim.suo
OutworldzFiles/opensim/Prebuild/Prebuild.build
OutworldzFiles/opensim/Prebuild/Prebuild.sln
OutworldzFiles/opensim/TestResult.xml
OutworldzFiles/opensim/cov/*
OutworldzFiles/opensim/OpenSim/OpenSim.userprefs
OutworldzFiles/opensim/OpenSim/OpenSim.usertasks
OutworldzFiles/opensim/TAGS
*~
OutworldzFiles/opensim/Makefile.local
OutworldzFiles/opensim/.version
OutworldzFiles/opensim/compile.bat

Outworldzfiles/banlist.txt
