OutworldzFiles/mysql/data/opensim/* filter=lfs diff=lfs merge=lfs -text
# Denote all files that are truly binary and should not be modified.
*.png binary
*.gif binary
*.exe binary
*.dll binary
*.exe binary
*.txt text
core.autocrlf true
*.MYI binary
*.MYD binary
Outworldzfiles/Help/Jopensim.rtf filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
System.Json.dll filter=lfs diff=lfs merge=lfs -text
MSFT_Runtimes filter=lfs diff=lfs merge=lfs -text
Microsoft.Bcl.AsyncInterfaces.xml filter=lfs diff=lfs merge=lfs -text
OutworldzFiles filter=lfs diff=lfs merge=lfs -text
System.Memory.xml filter=lfs diff=lfs merge=lfs -text
System.Numerics.Vectors.dll filter=lfs diff=lfs merge=lfs -text
TextControl filter=lfs diff=lfs merge=lfs -text
Updater_Src filter=lfs diff=lfs merge=lfs -text
Google.Protobuf.xml filter=lfs diff=lfs merge=lfs -text
Newtonsoft.Json.xml filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
System.Composition.Convention.xml filter=lfs diff=lfs merge=lfs -text
MySql.Data.dll filter=lfs diff=lfs merge=lfs -text
Partners filter=lfs diff=lfs merge=lfs -text
Read.Me filter=lfs diff=lfs merge=lfs -text
System.Buffers.dll filter=lfs diff=lfs merge=lfs -text
GitVersion filter=lfs diff=lfs merge=lfs -text
Installer_Src filter=lfs diff=lfs merge=lfs -text
K4os.Compression.LZ4.Streams.xml filter=lfs diff=lfs merge=lfs -text
MSChartWrapper.dll filter=lfs diff=lfs merge=lfs -text
System.Composition.Convention.dll filter=lfs diff=lfs merge=lfs -text
System.ValueTuple.xml filter=lfs diff=lfs merge=lfs -text
System.Runtime.CompilerServices.Unsafe.dll filter=lfs diff=lfs merge=lfs -text
System.ValueTuple.dll filter=lfs diff=lfs merge=lfs -text
DreamGridUpdater.exe filter=lfs diff=lfs merge=lfs -text
INIFileParser.xml filter=lfs diff=lfs merge=lfs -text
K4os.Compression.LZ4.dll filter=lfs diff=lfs merge=lfs -text
Start.exe filter=lfs diff=lfs merge=lfs -text
DotNetZip.dll filter=lfs diff=lfs merge=lfs -text
LICENSE.md filter=lfs diff=lfs merge=lfs -text
MySql.Data.xml filter=lfs diff=lfs merge=lfs -text
K4os.Compression.LZ4.xml filter=lfs diff=lfs merge=lfs -text
Licenses_to_Content filter=lfs diff=lfs merge=lfs -text
System.Buffers.xml filter=lfs diff=lfs merge=lfs -text
Ubiety.Dns.Core.dll filter=lfs diff=lfs merge=lfs -text
BareTail.udm filter=lfs diff=lfs merge=lfs -text
DotNetZip.xml filter=lfs diff=lfs merge=lfs -text
Google.Protobuf.dll filter=lfs diff=lfs merge=lfs -text
K4os.Compression.LZ4.Streams.dll filter=lfs diff=lfs merge=lfs -text
Zstandard.Net.dll filter=lfs diff=lfs merge=lfs -text
baretail.exe filter=lfs diff=lfs merge=lfs -text
cports.cfg filter=lfs diff=lfs merge=lfs -text
System.Numerics.Vectors.xml filter=lfs diff=lfs merge=lfs -text
INIFileParser.dll filter=lfs diff=lfs merge=lfs -text
Microsoft.Bcl.AsyncInterfaces.dll filter=lfs diff=lfs merge=lfs -text
MimeKit.dll filter=lfs diff=lfs merge=lfs -text
Start.exe.lastcodeanalysissucceeded filter=lfs diff=lfs merge=lfs -text
System.Collections.Immutable.xml filter=lfs diff=lfs merge=lfs -text
XMLRPC.dll filter=lfs diff=lfs merge=lfs -text
Newtonsoft.Json.dll filter=lfs diff=lfs merge=lfs -text
Start.pdb filter=lfs diff=lfs merge=lfs -text
System.Json.xml filter=lfs diff=lfs merge=lfs -text
cports.chm filter=lfs diff=lfs merge=lfs -text
DotNetZip.pdb filter=lfs diff=lfs merge=lfs -text
EmailValidation.xml filter=lfs diff=lfs merge=lfs -text
Make_zip_v3.pl filter=lfs diff=lfs merge=lfs -text
MimeKit.pdb filter=lfs diff=lfs merge=lfs -text
tos.html filter=lfs diff=lfs merge=lfs -text
wget.exe filter=lfs diff=lfs merge=lfs -text
MailKit.xml filter=lfs diff=lfs merge=lfs -text
System.Composition.AttributedModel.dll filter=lfs diff=lfs merge=lfs -text
System.Composition.Runtime.xml filter=lfs diff=lfs merge=lfs -text
UpnP[[:space:]]Diagnostic filter=lfs diff=lfs merge=lfs -text
BareTail.udm.bak filter=lfs diff=lfs merge=lfs -text
EmailValidation.dll filter=lfs diff=lfs merge=lfs -text
Interop.IWshRuntimeLibrary.dll filter=lfs diff=lfs merge=lfs -text
LiveSwitch.TextControl.exe filter=lfs diff=lfs merge=lfs -text
cubes_blue.ico filter=lfs diff=lfs merge=lfs -text
Opensim.ini filter=lfs diff=lfs merge=lfs -text
Start.exe.CodeAnalysisLog.xml filter=lfs diff=lfs merge=lfs -text
Start.exe.config filter=lfs diff=lfs merge=lfs -text
System.Collections.Immutable.dll filter=lfs diff=lfs merge=lfs -text
DreamGrid[[:space:]]translation.xlsx filter=lfs diff=lfs merge=lfs -text
DreamGridUpdater.new filter=lfs diff=lfs merge=lfs -text
Google.Protobuf.pdb filter=lfs diff=lfs merge=lfs -text
NtSuspendProcess64.exe filter=lfs diff=lfs merge=lfs -text
System.Composition.AttributedModel.xml filter=lfs diff=lfs merge=lfs -text
System.Composition.Runtime.dll filter=lfs diff=lfs merge=lfs -text
System.Text.Encoding.CodePages.xml filter=lfs diff=lfs merge=lfs -text
MailKit.dll filter=lfs diff=lfs merge=lfs -text
NAT_Loopback_Tool.bat filter=lfs diff=lfs merge=lfs -text
System.Composition.Hosting.dll filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.Extensions.dll filter=lfs diff=lfs merge=lfs -text
MimeKit.xml filter=lfs diff=lfs merge=lfs -text
System.Composition.TypedParts.xml filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.DiagnosticSource.xml filter=lfs diff=lfs merge=lfs -text
cports.exe filter=lfs diff=lfs merge=lfs -text
dlls.txt filter=lfs diff=lfs merge=lfs -text
System.Composition.Hosting.xml filter=lfs diff=lfs merge=lfs -text
System.Composition.TypedParts.dll filter=lfs diff=lfs merge=lfs -text
System.Diagnostics.DiagnosticSource.dll filter=lfs diff=lfs merge=lfs -text
System.Memory.dll filter=lfs diff=lfs merge=lfs -text
Humanizer.xml filter=lfs diff=lfs merge=lfs -text
MailKit.pdb filter=lfs diff=lfs merge=lfs -text
System.Runtime.CompilerServices.Unsafe.xml filter=lfs diff=lfs merge=lfs -text
System.Threading.Tasks.Extensions.xml filter=lfs diff=lfs merge=lfs -text
