<!DOCTYPE html>
<head>

<title>Simulator stats for $text</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <!-- Begin  Toolkit -->

   <h1>Visitors</h1>
      
   [% FOREACH item IN sims  %]
      <div style="float:left;">
   	  <a href="[% item.link %]">[% item.regionname %]</a>  Size: [% item.regionsize  %]</a>
      <br clear="all">
      <a href="[% item.link %]"><img src="[% item.map %]" width="[% item.width %]">
			&nbsp;
			</div>
			 
   [% END %]
   
  </body

</html>
