
body {
    background: #333333;
    color: white;
    /* background: #333333 url(/radio/radioback6.jpg) left top no-repeat;*/
}
a {
    color: #0060B6;
    text-decoration: underline;
}
p {
    background-color: #1F1A25;
    color: white;
}
#greet {
    
    width: 700px;
    height: 750px;
    color: white;
    font-family: Calibri;
    font-size: 100%;
    margin-left: 0px;
    margin-top: 0px;
}
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  border: 2px solid #333333;
}
tr {
    background-color: #eeeeee;
    color: #333333;
    font-size:14px;	
}
.alt {
  background-color: #333333;
  color: #eeeeee;
  font-size:14px;	
}
a {
    color: #000000;
    text-decoration: none;
}
