<!DOCTYPE html>
<head>
<title>Region List</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <style type="text/css">
            
            tr.header {font-weight:bold;}
            tr.alt {background-color: grey;}
            
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
               $('.striped tr:even').addClass('alt');
            });
        </script>
</head>
<body>
<p>| <a href="/">Home</a>
| <a href="/VR">360 View</a>
| <a href="/Video">Video</a>
| <a href="/Audio">Audio</a>
| <a href="/PerlExample">Perl Examples</a>
| <a href="/Stats">Stats</a>
| <a href="http://outworldz.com/Search" >Search</a>
| <a href="http://outworldz.com/DestinationGuide" >Destinations</a>
|</p>

<p>[% welcome %]</p>
<p>Total Regions: [% regioncount %]</p>
<table class="striped">
    <tr>
        <th>Region Name</th>
        <th>Port</th>
        <th>Size</th>
        
    </tr>
    [% FOREACH region IN regions %]
    <tr>
        <td>[% region.regionName%]</td>
        <td>[% region.serverPort %]</td></td>
        <td>[% region.sizex %]</td></td>
        
    </tr>
    [% END %]
</table>
</body>
</html>
