<!DOCTYPE html>
<head>
<title>User List</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <style type="text/css">
            
            tr.header
            {
                font-weight:bold;
            }
            tr.alt
            {
                background-color: #cccccc;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function(){
               $('.striped tr:even').addClass('alt');
            });
        </script>
</head>
<body>
    <p>| <a href="/">Home</a>| <a href="/Video">Video</a> | <a href="/Audio">Audio</a> | <a href="/Dreamgrid">Diva</a> | <a href="/Wordpress">Wordpress</a> | <a href="/JOpensim">JOpensim</a> | <a href="/PerlExample">Perl Examples</a> |</p>
<p>[% welcome %]</p>
<p>Total Users: [% usercount %]</p>
<table class="striped">
    <tr><th>First Name</th><th>last Name</th><th>email</th></tr>
    [% FOREACH user IN users %]
    <tr>
        <td>[% user.first %]</td><td>[%  user.last %]</td><td>[% user.email %]</td>
    </tr>
    [% END %]
</table>
</body>
</html>